{% extends 'base.html' %}
{% block content %}

<h2 class="page-title">Популярные напитки</h2>

<div class="grid">
{% for drink in drinks %}
    <div class="card">
        <h3>{{ drink.name }}</h3>
        <p class="muted">{{ drink.description|truncatechars:80 }}</p>
        <div class="card-bottom">
            <a class="btn" href="/drink/{{ drink.id }}/">Открыть</a>
            <span>❤️ {{ drink.likes }}</span>
        </div>
    </div>
{% empty %}
    <p>Напитков пока нет</p>
{% endfor %}
</div>

{% endblock %}
