{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <h1 class="page-title">
        {% if category %}
            Категория: {{ category.name }}
        {% else %}
            Напитки
        {% endif %}
    </h1>


    <div class="grid">
        {% for drink in drinks %}
            <div class="card">
                <h3>
                    <a href="/drink/{{ drink.id }}/"
                       style="color: #fff; text-decoration: none;">
                        {{ drink.name }}
                    </a>
                </h3>

                <p class="muted">
                    {{ drink.description|truncatechars:80 }}
                </p>

                <p>
                    💰 <b>{{ drink.price }} ₽</b><br>
                    🥃 {{ drink.volume }} мл<br>
                    🔥 {{ drink.abv }}%
                </p>

                <div class="card-bottom">
                    <span>❤️ {{ drink.likes }}</span>
                    <span>⭐ {{ drink.average_rating }}</span>
                    <span>👁 {{ drink.views }}</span>
                </div>
            </div>
        {% empty %}
            <p>Напитков пока нет 😢</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
