{% extends 'base.html' %}

{% block content %}
<h1 class="page-title">Напитки</h1>

<div class="grid">
    {% for drink in drinks %}
        <div class="card">
            <h3>
                <a href="/drink/{{ drink.id }}/">{{ drink.name }}</a>
            </h3>

            <p class="muted">
                💰 {{ drink.price }} ₽<br>
                ❤️ {{ drink.likes }}
                | ⭐ {{ drink.average_rating }}
                | 👁 {{ drink.views }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
