<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Барные напитки{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <!-- Навигация -->
    <div class="navbar">
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'drink_list' %}">Напитки</a>
        <a href="{% url 'category_list' %}">Категории</a>
        <a href="{% url 'search' %}">Поиск</a>
        <a href="/admin/">Админка</a>
    </div>

    <!-- Контент -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
